<html>
    <head>
        @using WebRanker.Data
        @{ViewBag.Title = "Details";}
        <link href="https://fonts.googleapis.com/css?family=Nunito|Raleway|Rubik" rel="stylesheet">
    </head>

    <body>
        @model WebRanker.Models.DetailsModel
        <div>
            <h1>
                Your rankings for @Html.DisplayFor(model => model.Title)
            </h1>

            <h2 style="font-size: small">
                Created on @Html.DisplayFor(model => model.CreatedUTC)
                <br />

                @if (Model.ModifiedUTC.HasValue)
                {
                    <text>Last modified on</text> @Model.ModifiedUTC;
                }

                else
                {
                    <text>Last modified on</text> @Model.CreatedUTC;
                }
            </h2>
        </div>

        <dl class="dl-horizontal">
            @foreach (Item i in Model.TheList)
            {
                string ranking = (Model.TheList.FindIndex(e => e.ItemID == i.ItemID) + 1).ToString();

                <dt style="width: 3em; text-align: center; font-weight: bold;">
                    @ranking.
                </dt>

                <dd style="margin-left: 0px;">
                    @i.ItemName
                </dd>
            }
        </dl>

        <p>
            @Html.ActionLink("Rank List", "Rank", "Collection", new { id = Model.ListID }, new { @class = "btn btn-primary btn-large" })
            @Html.ActionLink("Edit List", "Edit", "Collection", new { id = Model.ListID }, new { @class = "btn btn-primary btn-large" })
            @Html.ActionLink("Back to Index", "Index", "Collection", null, new { @class = "btn btn-primary btn-large" })
        </p>
    </body>
</html>