<html>
    <head>
        @using WebRanker.Data
        @{ViewBag.Title = "Details";}
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    </head>

    <body>
        @model WebRanker.Models.DetailsModel
        <h1>
            Your rankings for @Html.DisplayFor(model => model.Title)
        </h1>

        <dl class="dl-horizontal">
            @foreach (Item i in Model.TheList)
            {
                string ranking = (Model.TheList.FindIndex(e => e.ItemID == i.ItemID) + 1).ToString();

                <dt style="width: 3em; text-align: center; font-weight: bold;">
                    @ranking.
                </dt>

                <dd style="margin-left: 0px;">
                    @i.ItemName
                </dd>
            }
        </dl>

        <h2 style="font-size: small">
            Created on @Html.DisplayFor(model => model.CreatedUTC) <br />
            Last modified/ranked on @Html.DisplayFor(model => model.ModifiedUTC)
        </h2>

        <p>
            @Html.ActionLink("Back to Lists", "Index", "Collection", null, new { @class = "btn btn-primary btn-large" })
            @Html.ActionLink("Rank List", "Rank", "Collection", new { id = Model.CollectionID }, new { @class = "btn btn-primary btn-large" })
            @Html.ActionLink("Edit List", "Edit", "Collection", new { id = Model.CollectionID }, new { @class = "btn btn-primary btn-large" })
            @Html.ActionLink("Delete List", "Delete", "Collection", new { id = Model.CollectionID }, new { @class="btn btn-danger btn-large" })
        </p>
    </body>
</html>