<html>
    <head>
        @{ViewBag.Title = "Edit";}
        <link href="https://fonts.googleapis.com/css?family=Nunito|Raleway|Rubik" rel="stylesheet">
    </head>

    <body>
        @model WebRanker.Models.EditModel
        <h1>Editing @Model.Title</h1>
        <h2 style="font-size: small">Enter in the new or updated elements for your list</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.CollectionID)

                <div class="form-group">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2", @style = "width: 7em" })
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <text class="control-label col-md-2" style="width: 7em">Your list</text>
                        @Html.TextAreaFor(model => model.TheList, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TheList, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-success btn-large" style="margin-left: 7em" />
                        @Html.ActionLink("Cancel", "Index", "Collection", null, new { @class = "btn btn-danger btn-large" })
                    </div>
                </div>
            </div>
        }
    </body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}