<html>
    <head>
        @{ViewBag.Title = "Rank";}
        <link href="https://fonts.googleapis.com/css?family=Nunito|Raleway|Rubik" rel="stylesheet">
    </head>

    <body>
        @model WebRanker.Models.MatchupModel
        <h2>Rank your list!</h2>
        <h2 style="font-size: small">Choose your favorite of these two</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div id="rankradio">
                @Html.RadioButton("[0].choice", Model.FirstItemID, true)
                <label for="choice1">@Model.FirstItemName</label>
                <br />
                @Html.RadioButton("[0].choice", Model.SecondItemID, false)
                <label for="choice2">@Model.SecondItemName</label>

                <div>
                    <button class="btn btn-success btn-large" type="submit">Next</button>
                    @Html.ActionLink("Cancel", "Index", "Collection", null, new { @class = "btn btn-danger btn-large" })
                </div>
            </div>
        }
    </body>
</html>
